<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.1/build/pure-min.css")
    title Pet Track
  body
    header
      ul
        li: a(href="/pets") Pets
        li: a(href="/owners") Owners
    main
      table.pure-table.pure-table-striped
        thead
          tr
            th Name
            th Type
            th Age
            th Owners
        tbody
          each pet in pets
            tr
              td= pet.name
              td= pet.PetType.type
              td= pet.age
              td
          else
            tr
              td(colspan=4) No pets
      form.pure-form(method="post", action="/pets")
        fieldset
          legend Create a pet
          input(type="text", name="name", placeholder="name", required)
          input(type="number", name="age", placeholder="age", required)
          select(name="typeId")
            each petType in petTypes
              option(value=petType.id)= petType.type
          button(type="submit") Create this pet
    footer